<div class="main-container" >
    <header class="toolbar">
        <div class="container" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div fxLayoutAlign="space-between center">
                <img src="../../../assets/icons/education.svg" alt="" class="image">
                <span class="text">BookStore</span>
            </div>
            <div>
                <input type="text" class="search" placeholder="Search">
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <div fxLayout="column" fxLayoutAlign="center center" class="profilediv">
                    <img src="../../../assets/icons/person.svg" alt="profile" class="profileimg">
                    <!-- <p class="profiletext">Profile</p> -->
                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <img src="../../../assets/icons/supermarket.svg" alt="cart" class="cartimg">    
                    <p class="carttext">Cart</p>
                </div>
            </div>
            
        </div>
    </header>
</div>